<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="excelDiffSettings" type="Plexus.ERP.ExcelDiffRuleSection, PlexusWPF" />
  </configSections>
  <excelDiffSettings>
    <excelRule id="1" keys="0,2" lookup="3" mapto="G:\My Projects\PlexusSolution\PlexusWPF\Statuses.xml" type="SimpleMap"/>
    <excelRule id="2" keys="0,2" lookup="1" mapto="G:\My Projects\PlexusSolution\PlexusWPF\Customers.xml" type="SimpleFuzzy"/>
    <!--excelRule id="1" keys="0,2" lookup="1" mapto="G:\My Projects\PlexusSolution\PlexusWPF\bin\Debug\Customers.xml" type="Simple"-->
  </excelDiffSettings>
  <appSettings>
    <add key="IgnoreFirstRow" value="true" />
  </appSettings>
</configuration>