<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="ExcelWrapper" type="Snippet.ExcelWrapper, Snippet"/>
  </configSections>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  <system.data>
  </system.data>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <add key="snapshot_uri" value="G:\My Works"/>
  </appSettings>
  <!--
  MMyy: month year
  mmyy: minute year
  yyMMdd: year month day
  -->
  <ExcelWrapper
    mailserver="pena-mail-501.ap.plexus.com"
    username="srvcjobs.pena"
    password="Jobs28"
    sender="createform.pena@plexus.com"
    sourceFormat="R5541055_390_MMyyyy.txt"
    output="ItemMaster.xls"
    seperator="|"
    to="Supplier Email"
    cc="Buyer Email"
    bcc="createform.pena@plexus.com"
    tomanager="yeang-shing.then@plexus.com"
    groupby="Supplier Email"
    readfromcolumn="3"
    readtocolumn="27"
    subject="Please ignore - Testing Plexus Item Master List"
    body="Dear Valued Supplier,&lt;br&gt;&lt;br&gt;
Attached is your Plexus Item Master List. Please review the Lead Time, MOQ, Standard Pack values, NCNR Term, MPN, Cancellation Window and Rescheduling Window. If you find any discrepancies, please add the correct Lead Time, MOQ or Standard Pack, etc in the Supplier Feedback Columns (you can add columns at the far right) and reply to the Buyers (in the cc loop) of this email. &lt;br&gt;&lt;br&gt;
PLEASE DO NOT REPLY TO THE CREATEFORM. Please remove Createform when you reply the email.&lt;br&gt;&lt;br&gt;
Please respond with corrections within a week. After such time we will consider that the data in our system is correct and hence this will be the Lead Time, MOQ and Standard Pack, etc for our order placement.&lt;br&gt;&lt;br&gt;
Lead Time in our System is inclusive of In-Transit Time depending on the shipment term&lt;br&gt;
Cancellation or Rescheduling Windows is calculated base on the PO dock date&lt;br&gt;&lt;br&gt;
This report will be sent out on a Monthly basis. If there are any changes on the Lead Time, MOQ and Standard Pack, etc before you receive the next report, please inform our Buyers immediately. This effort is intended to help minimize any data discrepancy issues during order placing.&lt;br&gt;&lt;br&gt;
Plexus expects that you will provide full support in this exercise to maintain the Data Integrity between our organizations.&lt;br&gt;&lt;br&gt;
Thank you&lt;br&gt;
&lt;br&gt;
Plexus Corp.&lt;br&gt;"
    bodycc="Dear Buyers,&lt;br&gt;&lt;br&gt;
Attached list of parts belong to supplier without email.  Please contact supplier to get their email address so supplier can receive PO and Item Master List thru email. &lt;br&gt;&lt;br&gt;
Thank you&lt;br&gt;
&lt;br&gt;
Plexus Corp.&lt;br&gt;"
    bodymanager="Dear Manager,"/>
</configuration>